.m-dropdown--list-container {
  position: relative;

}

.m-dropdown--label-container {
  cursor: pointer;

  .m-dropdown--label-icon {
    vertical-align: middle;
  }

  .m-dropdown--label-icon-inactive {
    display: inline-block;
  }

  .m-dropdown--label-icon-active {
    display: none;
  }

  // when dropdown is opened
  &.m-dropdown--label-active {

    .m-dropdown--label-icon-inactive {
      display: none;
    }

    .m-dropdown--label-icon-active {
      display: inline-block;
    }
  }
}

.m-dropdown--list, .m-dropdown__list {
  padding: 0;
  width: 150px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 3px;
  border: 1px solid #ececec;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #FFF;
  overflow: visible;
  display: block;
  margin: 0;
  list-style: none;

  .m-dropdown--list--item, .m-dropdownList__item {
    display: flex;
    flex-direction: row;
    align-items: center;

    list-style: none;
    opacity:1;
    text-overflow:ellipsis;
    padding: 8px;
    border-bottom: 1px solid #ececec;
    text-align: left;

    &.m-dropdown--list--item--selected, .m-dropdownList__item--selected {
      background-color: #4690D6;
      color: white;
    }

    a {
      text-decoration: none;
      color: #555;
      font-weight: 400;
    }

    i {
      vertical-align: middle;
      margin-right: $minds-margin;
      font-size: 18px;
    }

    span {
      vertical-align: middle;
    }

    > * {
      vertical-align: middle;
    }
  }

  li:last-of-type {
    border-bottom: none !important;
  }

}
