<div class="m-helpDesk__hero m-layout__hero">
</div>

<div class="m-page m-helpdesk__wrapper">

  <div class="m-page__sidebar">
    <a class="m-helpdeskQuestions__goBack" routerLink="/help">
      <i class="material-icons">
        keyboard_arrow_left
      </i>
      <span>Back to Help Desk</span>
    </a>

    <m-helpdesk--questions--search>
    </m-helpdesk--questions--search>

    <m-helpdesk--questions--suggested
      type="category"
      [question]="question"
      *ngIf="question.category_uuid"
    >
    </m-helpdesk--questions--suggested>

    <div class="minds-spacer"></div>

    <m-helpdesk--questions--suggested
      type="popular"
    >
    </m-helpdesk--questions--suggested>

    <div class="minds-spacer"></div>

    <div class="m-border m-helpdeskQuestions__bigItem m-helpdeskQuestions__bigItem--help-and-support"
      routerLink="/group/profile/100000000000000681">
      <img [src]="minds.cdn_assets_url + 'assets/help-desk/chat.png'">
      <div class="m-helpdeskQuestionsBigItem__text">
        <h3 class="m-helpdeskQuestionsBigItem__title">
          Help & Support Group
        </h3>
        <p class="m-helpdeskQuestionsBigItem__subtext">
          Get help from the wider Minds community
        </p>
      </div>
    </div>
  </div>

  <div class="m-page--main">
  
    <div class="m-helpdeskQuestions__question m-helpdeskQuestions__question--full m-border">
      <h1>{{question.question}}</h1>
      <div class="m-helpdeskQuestions__adminContainer"
           *ngIf="session.isAdmin()"
      >
        <a
          class="m-helpdeskQuestions__editIcon"
          [routerLink]="'/help/question/edit/' + question.uuid"
        >
          <i class="material-icons">
            edit
          </i>
        </a>
        <a
          class="m-helpdeskQuestions__deleteIcon"
          (click)="delete()"
        >
          <i class="material-icons">
            delete
          </i>
        </a>
      </div>
      <p class="m-helpdeskQuestions__answer"
        [innerHTML]="question.answer | safe">
      </p>

      <div class="m-helpdeskQuestions__feedback">
        <div
          (click)="castVote('up')"
        >
          <i class="material-icons" [ngClass]="{'selected': hasVoted('up') }">thumb_up</i>
          <span class="minds-counter" *ngIf="question['thumbs_up_count'] > 0">{{question['thumbs_up_count'] | number}}</span>
        </div>
        <div
          (click)="castVote('down')"
        >
          <i class="material-icons" [ngClass]="{'selected': hasVoted('down') }">thumb_down</i>
          <span class="minds-counter" *ngIf="question['thumbs_down_count'] > 0">{{question['thumbs_down_count'] | number}}</span>
        </div>
      </div>
    </div>

    <m-helpdesk--questions--related
      [question]="question"
      *ngIf="question.uuid"
    >
    </m-helpdesk--questions--related>

  </div>
</div>
