
<div class="mdl-card m-border minds-channel-bio m-channel--bio">
  <minds-avatar [object]="user" [editMode]="editing" (added)="upload_avatar($event)"></minds-avatar>
  <div class="m-channel--name">
    <h2>{{user.name}}</h2>
    <span class="minds-button-edit" (click)="toggleEditing()" *ngIf="session.getLoggedInUser().guid == user.guid">
      <button class="material-icons" [hidden]="editing">edit</button>
      <button class="material-icons" [hidden]="!editing">done</button>
    </span>
  </div>
  <div class="m-channel--username">
    <h2><span>@</span>{{user.username}}</h2>
  </div>
  <div class="mdl-card__supporting-text" id="bio" [hidden]="editing" style="white-space:pre-line; text-align:center;" [innerHtml]="user.briefdescription | tags"></div>

  <div class="minds-editable-container mdl-card__supporting-text" *ngIf="editing && isOwner()">
    <!-- OWNER EDIT FORM -->
      <textarea
        [autoGrow]
        class="mdl-textfield__input"
        type="text"
        name="briefdescription"
        [(ngModel)]="user.briefdescription"
      ></textarea>
  </div>

  <div class="m-channel-bio-fields" [ngClass]="{'m-channel-bio-fields-flex': !editing}">

    <!-- City / Location -->
    <div class="m-channel-bio-field m-channel--city mdl-color-text--blue-grey-600" [hidden]="editing || !user.city">
      <i class="material-icons mdl-color-text--blue-grey-300">location_on</i>
      <span>{{user.city}}</span>
    </div>

    <div class="m-channel-bio-editor m-channel-city-editor" *ngIf="editing && isOwner()">
      <div class="m-channel-bio-input m-channel-city-input">
        <i class="material-icons mdl-color-text--blue-grey-300">location_on</i>
        <input (keyup)="findCity(user.city)" name="city" [(ngModel)]="user.city" class="" placeholder="Enter your city..." i18n-placeholder="@@M__COMMON__ENTER_CITY" />
      </div>
      <div class="m-discovery-cities mdl-card m-border" *ngIf="editing && cities.length > 0">
        <p class="mdl-color-text--blue-grey-300" i18n="@@M__COMMON__SELECT_CITY">Select your city:</p>
        <li (click)="setCity(c)" *ngFor="let c of cities" [hidden]="!(c.address.town || c.address.city)">{{c.address.town}}{{c.address.city}}, {{c.address.state}}</li>
      </div>
    </div>
    <!-- END City / Location -->


    <div class="m-channel-bio-field mdl-color-text--blue-grey-300" *ngIf="user.tags && !editing">
      <div [hidden]="editing || !user.tags">
        <i class="material-icons mdl-color-text--blue-grey-300">local_offer</i>
        <span *ngFor="let tag of user.tags">#{{tag}}</span>
      </div>
    </div>

    <div class="m-channel-bio-editor m-channel-city-editor" *ngIf="editing && isOwner()">
      <div class="m-channel-bio-input">
        <i class="material-icons mdl-color-text--blue-grey-300">local_offer</i>
        <m-hashtags-selector #hashtagsSelector
          [alignLeft]="true"
          [tags]="user.tags"
          (tagsChange)="onTagsChange($event)"
          (tagsAdded)="onTagsAdded($event)"
          (tagsRemoved)="onTagsRemoved($event)">
        </m-hashtags-selector>
      </div>
      <div class="mdl-card mdl-color--red-500 mdl-color-text--blue-grey-50  mdl-shadow--2dp" style="min-height:0;"
        *ngIf="errorMessage">
        <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
          {{errorMessage}}
        </div>
      </div>
    </div>

    <m-channel--social-profiles
      [user]="user"
      [editing]="editing && isOwner()"
      (changed)="setSocialProfile($event)"
    ></m-channel--social-profiles>

  </div>

  <div class="m-channel--stats  mdl-tabs__tab-bar">
    <a [routerLink]="['/', user.username, 'feed']" class="mdl-tabs__tab mdl-color-text--blue-grey-500" *ngIf="user.activity_count">
      <span i18n="Count of activities@@M__COMMON__FEED_COUNT">Feed</span>
      <b>{{user.activity_count | number}}</b>
    </a>
    <a class="mdl-tabs__tab mdl-color-text--blue-grey-500" *ngIf="user.supporters_count && session.getLoggedInUser().guid != user.guid">
      <span i18n="Count of supporters@@MINDS__CHANNELS__SUPPORTERS">Supporters</span>
      <b>{{user.supporters_count | number}}</b>
    </a>
    <a [routerLink]="['/', user.username, 'supporters']"  class="mdl-tabs__tab mdl-color-text--blue-grey-500" *ngIf="user.supporters_count && session.getLoggedInUser().guid == user.guid">
      <span i18n="Count of supporters@@MINDS__CHANNELS__SUPPORTERS">Supporters</span>
      <b>{{user.supporters_count | number}}</b>
    </a>
    <a [routerLink]="['/', user.username, 'subscribers']" class="mdl-tabs__tab mdl-color-text--blue-grey-500">
      <span i18n="@@M__COMMON__SUBSCRIBERS">Subscribers</span>
      <b>{{user.subscribers_count | number}}</b>
    </a>
    <a class="mdl-tabs__tab  mdl-color-text--blue-grey-500">
      <span i18n="@@M__COMMON__VIEWS">Views</span>
      <b>{{user.impressions | number}}</b>
    </a>
  </div>

  <div class="m-channel__onboardingProgress"
       *ngIf="shouldShowOnboardingProgress()"
  >

    Your profile is {{ onboardingProgress | number:'1.0-0'}}% complete
    <div class="mdl-progress mdl-js-progress"
         [mdlUpload]
         [progress]="onboardingProgress"
    ></div>
    <div class="m-channelOnboardingProgress__buttonBar">
      <button class="m-btn m-btn--slim m-channelOnboardingProgress__cta" (click)="showOnboarding()">Complete your profile</button>
      <i class="material-icons m-channelOnboardingProgress__close" (click)="hideOnboardingForcefully()">close</i>
    </div>
  </div>

  <div class="m-channel--action-buttons" >
    <minds-button-subscribe [user]="user"  *ngIf="session.isLoggedIn() && session.getLoggedInUser().guid != user.guid && !user.blocked && !user.subscribed"></minds-button-subscribe>
    <m-messenger--channel-button [user]="user" *ngIf="user.subscribed && session.getLoggedInUser().guid != user.guid"></m-messenger--channel-button>
    <minds-button-user-dropdown [(user)]="user" *ngIf="session.getLoggedInUser().guid != user.guid"></minds-button-user-dropdown>
    <div class="m-channel--edit-button-wrapper"  (click)="toggleEditing()" *ngIf="session.getLoggedInUser().guid == user.guid">
      <button class="m-btn m-btn--with-icon m-btn--slim">
        <i [hidden]="editing" class="material-icons">edit</i>
        <i [hidden]="!editing" class="material-icons">done</i>
        <span [hidden]="editing" i18n="@@M__ACTION__EDIT">Edit</span>
        <span [hidden]="!editing" i18n="@@M__ACTION__SAVE">Save</span>
      </button>
    </div>

    <minds-button-boost [object]="user" *ngIf="session.getLoggedInUser().guid == user.guid"></minds-button-boost>
    <m-channel--badges [user]="user"></m-channel--badges>
  </div>
</div>

<div class="minds-spacer-2x"></div>

<m-wire-channel #wire
  [(rewards)]="user.wire_rewards"
  [channel]="user"
  [editing]="editing"
></m-wire-channel>

<div class="minds-spacer-2x"></div>

<!-- images  -->
<m-channel--modules [owner]="user" type="image" [linksTo]="['/media/images', user.username]">

  <a class="mdl-card__supporting-text mdl-color-text--grey-600" [routerLink]="['/media/images', user.username]">
    <ng-container i18n="@@M__COMMON__VIEW_MORE">View More</ng-container>
  </a>
</m-channel--modules>

<div class="minds-spacer-2x"></div>

<!-- videos  -->
<m-channel--modules [owner]="user" type="video" limit="9" [linksTo]="['/media/videos', user.username]">

  <a class="mdl-card__supporting-text mdl-color-text--grey-600" [routerLink]="['/media/videos', user.username]">
    <ng-container i18n="@@M__COMMON__VIEW_MORE">View More</ng-container>
  </a>
</m-channel--modules>

<div class="minds-spacer-2x"></div>

<!-- Blogs  -->
<m-channel--modules [owner]="user" type="blog" limit="3" [linksTo]="['/blog', user.username]">

  <a class="mdl-card__supporting-text mdl-color-text--grey-600" [routerLink]="['/blog', user.username]">
    <ng-container i18n="@@M__COMMON__VIEW_MORE">View More</ng-container>
  </a>
</m-channel--modules>

<div class="minds-spacer-2x"></div>
