<div class="m-topbar--row">

  <a class="m-topbar--logo" routerLink="/">
    <img [src]="minds.cdn_assets_url + 'assets/logos/bulb.svg'" />
  </a>

  <ng-content select="[search]"></ng-content>

  <m-topbar--navigation></m-topbar--navigation>

  <div class="m-layout--spacer"></div>

  <div class="m-topbar--icons" *ngIf="session.isLoggedIn()">
    <ng-content select="[icons]"></ng-content>
  </div>

  <button class="m-btn m-btn--action m-btn--slim m-btn--boost"
          [routerLink]="['/boost/console/newsfeed/history', { 'toggled':true}]"
          *ngIf="session.isLoggedIn()">
    <ng-container i18n="verb|@@M__ACTION__BOOST">Boost</ng-container>
  </button>

  <div class="m-topbar--account" *ngIf="session.isLoggedIn()" #menu>
    <a (click)="menu.value = !menu.value">
      <img src="/icon/{{session.getLoggedInUser().guid}}/small/{{session.getLoggedInUser().icontime}}" />
    </a>
    <ul class="m-dropdown__list" [hidden]="!menu.value">
      <li class="m-dropdownList__item"
          *ngIf="session.isLoggedIn()"
          (click)="menu.value = false"
      >
        <a
          [routerLink]="['/', session.getLoggedInUser().username]"
          i18n="@@MINDS__TOPBAR__VIEW_CHANNEL"
        >
          <i class="material-icons">people</i>
          <span>View Channel</span>
        </a>
      </li>
      <li class="m-dropdownList__item"
          *ngIf="session.isLoggedIn() && session.isAdmin()"
          (click)="menu.value = false"
      >
        <a
          [routerLink]="['/admin/analytics']"
          i18n="@@MINDS__TOPBAR__ADMIN"
        >
          <i class="material-icons">build</i>
          <span>Admin</span>
        </a>
      </li>
      <li class="m-dropdownList__item"
          *ngIf="session.isLoggedIn()"
          (click)="menu.value = false"
      >
        <a
          [routerLink]="['/settings/general']"
          i18n="@@MINDS__TOPBAR__SETTINGS"
        >
          <i class="material-icons">settings</i>
          <span>Settings</span>
        </a>
      </li>
      <ng-container *mIfFeature="'helpdesk'; else faq">
      </ng-container>
      <ng-template #faq>
        <li class="m-dropdownList__item"
          (click)="menu.value = false"
        >
          <a
            [routerLink]="['/faq']"
            i18n="@@MINDS__TOPBAR__FAQ"
          >
            <i class="material-icons">help_outline</i>
            <span>FAQ</span>
          </a>
        </li>
      </ng-template>
      <li class="m-dropdownList__item"
          (click)="menu.value = false"
      >
        <ng-container *mIfFeature="'helpdesk'; else helpAndSupport">
          <a
            routerLink="/help"
            i18n="@@MINDS__TOPBAR__HELPDESK"
          >
            <i class="material-icons">help_outline</i>
            <span>Help Desk</span>
          </a>
        </ng-container>
        <ng-template #helpAndSupport>
          <a
            [routerLink]="['/groups/profile/', '100000000000000681']"
            i18n="@@MINDS__TOPBAR__HS_GROUP"
          >
            <i class="material-icons">help_outline</i>
            <span>Help & Support</span>
          </a>
        </ng-template>
      </li>
      <li class="m-dropdownList__item"
      >
        <a
          target="_blank"
          [href]="minds.cdn_assets_url + 'assets/documents/Whitepaper-v0.3.pdf'"
        >
          <i class="material-icons">description</i>
          <span>Whitepaper</span>
        </a>
      </li>
      <li class="m-dropdownList__item"
          *ngIf="session.isLoggedIn()"
          (click)="menu.value = false"
      >
        <a
          [routerLink]="['/canary']"
          i18n="@@MINDS__TOPBAR__MENU__EXPERIMENTS"
        >
          <i class="material-icons">new_releases</i>
          <span *ngIf="!session.getLoggedInUser().canary">Opt-in to Experiments</span>
          <span *ngIf="session.getLoggedInUser().canary">Canary</span>
        </a>
      </li>
      <li class="m-dropdownList__item"
          *ngIf="session.isLoggedIn()"
          (click)="menu.value = false"
      >
        <a
          [routerLink]="['/logout']"
          i18n="@@MINDS__TOPBAR__LOGOUT"
        >
          <i class="material-icons">exit_to_app</i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
    <div class="minds-bg-overlay" (click)="menu.value = !menu.value" [hidden]="!menu.value"></div>
  </div>


  <button class="m-btn m-btn--action m-btn--login m-btn--slim" *ngIf="!session.isLoggedIn()" [routerLink]="['/login']">
    <ng-container i18n="@@M__ACTION__LOGIN">Login</ng-container>
  </button>
</div>

<div class="m-topbar--toaster"> <!--*ngIf="session.isLoggedIn() && notifications"-->
  <ng-template dynamic-host></ng-template>
</div>
